<form>
    <div class="card flex justify-content-center ">
        <div class="">
            <p-dropdown [options]="cities"  optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
        </div>
        <div class="">
            <p-dropdown [options]="cities"  optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
        </div>

        <div class="">
            <input type="text" pInputText class="p-inputtext-sm" />
        </div>

        <div class="">
            <input type="text" pInputText />
        </div>

        <p-button label="Orden Hija"></p-button>

    </div>

</form>
