.contenedor {
width: 90%;
max-width: 1200px;
margin: auto;
gap: 15px;
justify-content: center;
align-items: center;
}



.contenedor-conciertos {

display: grid;
grid-template-columns: repeat(3, 1fr);
//flex-wrap: wrap;
align-items: center;
text-align: center;
gap: 20px;
justify-content: center;
justify-content: space-between;

}


.card {

display: flex;
flex-direction: column;
flex-wrap: wrap;
border: 1px solid burlywood;
border-radius: 15px;
font-weight: bold;
padding: 10px;
position: relative;
overflow: hidden;
background-size: cover;
background-position: center center;
justify-content: center;
margin-bottom: 20px;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.imagen {
  flex: 1 1 auto;
  justify-content: center;
}

.card-img-top {
max-width: 90%;
height: 100px;
justify-content: center;

}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.card .textos {
	height: 100%;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textos {
  flex: 0 0 auto;
}

.redondo{
  //display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}




.modal-content {
  text-align: center;
  padding: 20px;
}

.modal-img {
  max-width: 100%;
  height: auto;
}



.stepper-button-container {
  display: flex;
 // flex-direction: column;
  align-items: center; /* Alinear verticalmente */
  text-align: center;
  justify-content: center;
 
}

.boton-agregar {
  font-size: small;
}

.stepper {
  display: flex;
  align-items: center; /* Alinear los botones horizontalmente */
  gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.stepper-button {
  font-size: 0.5em; /* Tamaño de la fuente de los botones */
  font-size: small;
}




/* Estilos para el icono flotante de carrito */
.carrito-icono {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #363d44;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
 
}

.carrito-icono i {
  font-size: 2em; /* Tamaño del icono en relación al tamaño de fuente del contenedor */
}

.contador {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

.carrito-item {
  display: flex;
  align-items: center;
}

.modal-content1 {
  display: flex;
  flex-direction: column;
}


.producto-info {
  display: flex;
  align-items: center;
}

.cantidad {
  margin: 5px;
  align-content: center;
}


.modal-img1 {
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 10px; /* Ajusta el margen según sea necesario */
}

.precio-info {
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}




.predescrip {
  text-align: start;
  padding: 1px;
  margin-bottom: 5px;
}


:host ::ng-deep .botones {
    display: flex;
    gap: 5px;
    justify-content:space-between;
}

.botoneM {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    //padding: 5px;
    margin: 5px;
}

.input1{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    }


    @media (max-width: 1200px) {
      .contenedor-conciertos{
          grid-template-columns: repeat(3, 1fr); 
      }
     
    }
  
    @media (max-width: 900px) {
      .contenedor-conciertos{
          grid-template-columns: repeat(2, 1fr); 
      }
     
    }

  
    @media (max-width: 375px) {
      .contenedor-conciertos{
          grid-template-columns: 1fr; 
      }
    }